@charset "utf-8";

/* Header */
header .iconic * {
    fill: white;
    stroke: white;
}
header .iconic-property-accent {
    fill: #09F;
    stroke: #09F;
}
#head_friends .iconic-property-accent {
    fill: white;
    stroke: white;
}

/* Toolbar 1 (Right side) */
#toolbar .iconic *, #toolbar2 .iconic * {
	fill: #020024;
    stroke: #020024;
}
#toolbar .iconic-property-accent, #toolbar2 .iconic-property-accent {
	fill: #06F;
	stroke: #06F;
}
#toolbar .iconic-action-undo * {
    fill: #c1c1d0;
    stroke: #c1c1d0;
}
#toolbar .iconic-connections-dot-center { /* Connections icon */
    fill: #020024;
    stroke: #020024;
}
#toolbar .iconic-connections-line { /* Connections icon */
    fill: #06F;
    stroke: #06F;
}

/* Toolbar 2 */
#toolbar2 .iconic * {
    fill: #020024;
    stroke: #020024;
}
#toolbar2 .iconic-property-accent {
    fill: #09F;
    stroke: #09F;
}

/* Change content circle buttons */
#changeContent_change .iconic-property-fill {
	fill: #6CC729;
}
#changeContent_cancel .iconic-property-fill {
	fill: #D20000;
}

/* Node icons */
#icon_box .iconic * {
    fill: #666;
    stroke: #666;
}
#no_icon .iconic * {
    fill: #AAA;
    stroke: #AAA;
}
.selectedIcon .iconic * {
    fill: #75b5e2 !important;
    stroke: #75b5e2 !important;
}
.node .iconic * {
	fill: black;
    stroke: black;
}

/* Sidebar icons */
#sidebar .iconic * {
    fill: #020024;
    stroke: #020024;
}

/* Close board_property window */
#board_properties .iconic *{
    fill: #666;
    stroke: #666;
}
