@charset "utf-8";

#sidebar {
	z-index: 10;
	position: fixed;
	top: 100px;
	left: -391px;
	width: 385px;
	height: 70%;
	background-color: #FBFBFB;
	border: solid 3px #020024;
	border-radius: 4px;
	cursor: default;
}

#sidebar a {
	text-decoration: none;
}

#unfold_button {
	position: absolute;
	z-index: -1;
	top: 35px;
	left: 354px;
	height: 40px;
	width: 76px;
	border: solid 3px #020024;
	border-top: none;
	border-radius: 0 0 5px 5px;
	background-color: #CCC;
	color: #020024;
	
	font-weight: bold;
	text-align: center;
	
	cursor: pointer;
	
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
}

#unfold_button span { /*to align the title h1 */
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#unfold_button h1 {
	display: inline-block;
	vertical-align: bottom;
	font-size: 16px;
	margin: 15px 0 4px 0;
}

#board_chooser {
	overflow-y: scroll;
	height: 100%;
}

#board_chooser h2 {
	margin: 5px;
	margin-top: 15px;
	padding: 0 10px;
}

#board_search {
	text-align: center;
	margin: 15px 0 5px 0;
}

#board_chooser input[type="text"] {
	border: none;
	outline: none;
	padding: 3px 5px;
	border: solid 1px #999;
	border-radius: 2px;
	width: 200px;
}

#board_chooser input[type="text"]:focus {
	border: 1px #09F solid;
	box-shadow: 0 0 2px black;
}

#boards {
	padding-left: 10px;
}

.board_node {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	margin-left: 40px;
	cursor: pointer;
}

#board_noResults {
	display: none; 
	text-align: center; 
	width: 100%; 
	margin-top: 25px; 
	font-weight: 400;
}

#board_search_img {
	display: inline-block;
	padding: 7px;
	margin: 0;
	width: 26px !important;
	height: 26px !important;
	border-radius: 5px;
	cursor: pointer;
	vertical-align: middle;
	border-bottom: 5px transparent solid;
}

#add_board {
	position: absolute;
	right: 25px;
	top: 15px;
	width: 26px !important;
	height: 26px !important;
	cursor: pointer;
	border-radius: 50%;
}

#add_board_box {
	display: none;
	position: fixed;
	width: 420px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-top: -50px; /* 100/2 */
	margin-left: -210px; /* 420/2 */
	border: solid 2px #020024;
	border-radius: 7px;
	background-color: #EEE;
	box-shadow: 0 2px 7px #666;
}

#add_board_box h2 {
	margin: 10px;
	padding: 0;
}

#board_title {
	display: inline-block;
	border: 1px #999 solid;
	border-radius: 2px;
	width: 180px;
	height: 20px;
	margin: 4px;
	margin-left: 15px;
	padding: 0 4px;
}

#board_title:focus {
	border: 1px #09F solid;
	box-shadow: 0 0 2px black;
}

#add_board_box div {
	display: inline-block;
	font-size: 16px;
	text-align: center;
	color: white;
	border-radius: 4px;
	border: 2px #020024 solid;
	padding: 3px 5px;
	margin: 4px;
	cursor: pointer;
}

#add_board_confirm {
	width: 94px;
	height: 18px;
	background: linear-gradient(#0C3, #0A3);
}

#add_board_cancel {
	width: 50px;
	height: 18px;
	background: linear-gradient(#E30, #C00);
}

#add_board_confirm:hover {
	background: linear-gradient(#2C5, #2A5);
}

#add_board_cancel:hover {
	background: linear-gradient(#E52, #C22);
}

#add_board_box div:hover {
	box-shadow: 0 1px 1px #999;
}

#add_board_box div:active {
	box-shadow: none;
}
