@charset "utf-8";

/** BOARD TOOLBAR **/
#boardToolbar {
	position: fixed;
	height: 360px;
	width: 60px;
	right: 25px;
	top: 50%;
	margin-top: -180px;
	border: solid 4px #29BFCE;
	z-index: 50;
}

.boardTool svg {
	display: block;
	padding: 12px;
	width: 36px !important;
	height: 36px !important;
	
	-moz-user-select: none; /* In firefox, need to re-specify this*/
}

.boardTool {
    width: 60px;
    height: 60px;
	cursor: pointer;
    background-color: white;
}

.boardTool:hover {
	background-color: #F4F4F4;
}

.boardTool:active {
	background-color: #F4F4F4;
}

.boardTool.selected {
    background-color: #F4F4F4;
}

#boardToolbarTitle {
    position: absolute;
    top: 35px;
    left: -52px;
    color: white;
    letter-spacing: 1px;
    background-color: #29BFCE;
    padding: 4px 7px;
    cursor: default;

    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#board_properties { /* pop-up window in the middle of the screen */
    display: none;
    position: fixed;
    width: 650px;
    height: 335px;
    top: 50%;
    margin-top: -165px;
    left: 50%;
    margin-left: -325px;
    padding: 10px;
    background-color: #F9F9F9;
	border: solid 3px #020024;
    z-index: 20;
    font-weight: 400;
    cursor: default;

    user-select: text; /*L'utilisateur ne pourra plus sélectionner le texte de l'élément qui possède cette propriété CSS */
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
    -o-user-select: text;
}

#board_newTitle { /* Replaces the title to enter a new one */
    display: block;
    position: relative;
    width: 300px;
    height: 32px;
    left: 50%;
    margin: 12px 0; /* 15 - 3 because of the padding and border */
    margin-left: -150px;
    padding: 1px 0;
    border-width: 2px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    cursor: text;
    text-transform: uppercase;
    font-style: italic;
}
#board_properties h1 {
    height: 32px;
    margin: 15px;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    cursor: text;
}
#board_properties h2 {
    display: inline-block;
    width: 295px;
    margin: 15px;
    font-weight: bold;
    font-size: 24px;
    cursor: text;
}
#board_properties h3 {
    display: inline-block;
    width: 295px;
    margin: 15px;
    font-weight: 400;
    font-size: 19px;
    text-align: right;
    cursor: text;
}

#choose_public_prop {
    width: 100%;
    text-align: center;
}

#choose_public_prop label {
    font-weight: bold;
}

#choose_public_prop input {
    margin-right: 10px;
}

#choose_public_prop input[value=T] {
    margin-left: 20px;
}

#choose_public_prop p {
    margin: 0;
    margin-top: 7px;
    font-size: 15px;
    font-style: italic;
}

.property_button {
    display: inline-block;
    margin: 15px 20px;
    padding: 0 10px;
	border: solid #020024 2px;
    background-color: #2873a0;
	height: 35px;
	line-height: 35px;
	color: white;
	cursor: pointer;
	text-align: center;
}

.property_button:hover {
    background-color: #2b7bac;
}

#board_changetitle {
    float: left;
}

#board_delete {
    float: right;
}

#properties_close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


/** NODE TOOLBAR **/

#nodeToolbar {
	display: none; /*Don't show on opening*/
	position: absolute;
	height: 44px;
	width: 236px;
	border: solid 3px #29BFCE;
    background-color: white;
	z-index: 9;
	cursor: default;
}

.nodeTool svg { /*class for the second toolbar icons*/
	padding: 8px;
	width: 28px !important;
	height: 28px !important;
	
	-moz-user-select: none; /* In firefox, need to re-specify this*/
}

.nodeTool {
	display: inline-block;
	vertical-align: top;
	height: 44px;
    width: 44px;
	cursor: pointer;
    background-color: white;
}

.nodeTool:hover {
	background-color: #F4F4F4;
}

.nodeTool:active {
	background-color: #F4F4F4;
}

.nodeTool.selected {
    background-color: #F4F4F4;
}

#nodeTool_7 svg {

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#nodeToolbarPointer {
    width: 28px;
	height: 10px;
	position: absolute;
	top: 45px;
	left: 50%;
    margin-left: -14px;

	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#colorChoices {
	display: none;
	position: absolute;
	top: -65px;
	left: -145px;
	height: 40px;
	width: 525px;
	background-color: white;
	border: solid 2px #020024;
	cursor: default;
}

#colorChoices img {
	width: 10px;
	height: 15px;
	position: absolute;
	top: 37px;
	left: 257px;
	
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.colorChoice {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 5px;
	cursor: pointer;
}

#tag_box {
	display: none;
	position: absolute;
	top: -125px;
	left: 5px;
	height: 100px;
	width: 300px;
	background-color: white;
	border: solid 2px #020024;
	cursor: default;
}

#tag_box img {
	width: 10px;
	height: 15px;
	position: absolute;
	top: 97px;
	left: 200px;
	
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#tag_form {
	width: 100%;
	padding: 3px 0;
	border-bottom: #999 solid 1px;
}

#tag_name {
	display: inline-block;
	border: 1px #999 solid;
	width: 180px;
	height: 20px;
	margin: 4px;
	margin-left: 10px;
	padding: 0 4px;
}

#tag_name:focus {
	border: 1px #09F solid;
    outline: none;
}

#add_tag {
	display: inline-block;
    width: 60px;
    height: 20px;
	font-size: 16px;
	text-align: center;
	color: white;
	border: 1px #020024 solid;
	background-color: #2873a0;
	padding: 3px 5px;
	margin: 3px 4px;
	cursor: pointer;
}

#add_tag:hover {
	background-color: #2b7bac;
}

#tag_suggestions {
    display: none;
    position: absolute;
    top: 32px;
    left: 10px;
    background-color: white;
    width: 188px;
    padding: 2px 0;
    border: 1px solid #8e8e8e;
    border-top: none;
    z-index: 2;
}

.tag_suggestion {
    margin: 0;
    padding: 0 5px;
    font-size: 15px;
    overflow:hidden;
    white-space: nowrap;
	text-overflow: ellipsis;
}

.tag_suggestion:hover {
    background-color: #f5f5f5;
}

#all_tags {
	height: 47px;
	padding: 5px;
	overflow-y: scroll;
}

.tag {
	display: inline-block;
	margin: 2px 1px 2px 2px;
	padding: 2px 5px;
	height: 13px;
	background-color: #CCC;
}

.tag h5 {
	display: inline-block;
	padding: 0;
	vertical-align: top;
	margin: 0;
	margin-right: 3px;
	font-size: 12px;
	font-weight: 400;
	
	user-select: text;
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
    -o-user-select: text;
}

.tag_x {
    position: relative;
    top: -3px;
	display: inline-block;
	width: 10px !important;
	height: 10px !important;
	
	cursor: pointer;
}

#icon_box {
	display: none;
	position: absolute;
	top: -225px;
	left: 50px;
	height: 200px;
	width: 285px;
	background-color: white;
	border: solid 2px #020024;
	cursor: default;
}

#icon_box h2 {
	padding: 5px 10px;
    margin: 0;
    font-size: 22px;
	border-bottom: #999 solid 1px;
}

#all_icons {
    height: 143px;
    padding: 10px;
    overflow-y: scroll;
}

#icon_box img {
	width: 10px;
	height: 15px;
	position: absolute;
	top: 197px;
	left: 110px;

	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.icon_choice {
    display: inline-block;
    padding: 5px 5px;
    width: 30px;
    height: 30px;
    margin: 2px 2px;
    border: 2px solid #666;
    cursor: pointer;
}

.icon_choice svg {
    width: 30px !important;
    height: 30px !important;
}

#no_icon { /* Option to have no icon: should be paler than other icons */
    border: 2px solid #AAA;
}

.selectedIcon {
    border: 2px solid #09F !important;
}
